.info-head{
  color: #F2F2F2;
  font-weight: 500;
  font-size: 2vw;
  margin: 0;
}
.notification-text-info{
  max-width: 50%;
  width: 50%;
}

.notification-text-info >img{
  margin: 0.5rem;
}

.info-text{
  color: rgba(242, 242, 242, 0.7);
  font-size: 1vw;
  font-weight: 300;
  margin: 0;
}


@media screen and (max-width:750px) {
  .notification-text-info{
    max-width: 2rem;;
    width: auto;
    margin-bottom: 2rem;
  }
}