.side-info{
  width: 55%;
  max-width: 55%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.notification-info{
  overflow: hidden;
  display: flex;
  padding-left: 3rem;

}

@media screen and (max-width:750px) {
  .side-info{
    flex-direction: column;
  }
  .notification-info{
    flex-direction: column;
  }
}