.portfolio-sample{
  margin:0 3rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

}
.portfolio-sample>img{
  height: 15rem;
}

@media screen and (max-width:768px) {
  .portfolio-sample{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 0;
  }
  .portfolio-sample>img{
    width: 15rem;
  }
}