.card-info{
  height: fit-content;
  width: 25rem;
  padding-left: 2rem;
  margin-left: 2rem;
  display: flex;
  align-items: stretch;
  gap: 1rem;

}

.notification-text{
  color: #19191A;
  font-size: 0.8rem;
  font-weight: 500;
  width: 8rem;
  padding-right: 1rem;
}
#card-2-text
{
  font-size: 0.7rem;
  font-weight: 500;
  width: 9rem;
  margin-top:3rem;
}

#card-3-text
{
  font-size: 0.7rem;
  font-weight: 500;
  width: 8rem;
  margin-top :2rem;
}
#card-3-text>img{
  margin: 0.5rem 0;
}
.mail-box{
  border: 1px solid #D4D4D4;
  border-radius: 6px;
  background: white;
  
}

.mail-box>p{
  padding: 0 0.5rem;
  font-weight: 500;
  font-size: 0.5rem;
  margin: 0.8rem 0.5rem;
}

.bell-save{
  display: flex;
  justify-content: space-between;
}

.bell-save>img{
  height: fit-content;
  width: fit-content;
  margin: 0;
}

.bell-save>p{
  font-size: 0.9rem;
  margin: 0 0.3rem;
  color: #19191A;
  font-weight: 600;
}

.scroller{
  overflow: hidden;
  mask: linear-gradient(90deg,transparent,20%,white, white 80%,transparent);
}

.scroller .card-layout{
  animation: scroll 5s linear infinite;
}


@keyframes scroll {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(calc(-100% - 25rem));
  }
  
}