.testimonial-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.testimonial-header{
  margin: 0 3rem;


}
.testimonial-title{
  color:#F2F2F2;
  font-weight: 500;
  font-size: 1.5rem;
  width: 100%;
  text-align: right;
  margin: 0;
}
.divider{
  height: 1px;
  width: 100%;
  background-color: #e5e5e6;
  opacity: 0.5;
  border: none;

}

@media screen and (max-width:768px) {
  .testimonial-title{
    text-align: center;
  }
}