.form-section{
  width: 100vw;
  max-width: 45%;
  height: 100vh;
  border: 1px solid black;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;

}

.form>h5{
  margin-top: 2rem;
  width: max-content;
  font-size: small;
  font-weight: 600;
}

.form{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 30%;
  padding: 1rem;
}

.signup-info{
  color: #B0B1B3;
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.email-field{
    width: 20rem;
    border-color: #E5E5E6;
    color: #CACBCC;
    border-radius: 8px;
    height: auto;
    padding: 1rem 1.5rem;
    font-size: medium;
    box-sizing: border-box;
    margin:  1rem auto;
    border: 1px solid #E5E5E6;
    box-shadow:0 0 1pt 0.5pt #E5E5E6;
    -moz-box-shadow:0 0 1pt 0.5pt #E5E5E6;
    -webkit-box-shadow:0 0 1pt 0.5pt #E5E5E6;
}

.email-field::placeholder{
  color: #CACBCC;
}

.email-field:focus{
  color: #19191A;
  border-color: #19191A;
  box-shadow:0 0 5pt 0.5pt #E5E5E6;
  -moz-box-shadow:0 0 5pt 0.5pt #E5E5E6;
  -webkit-box-shadow:0 0 5pt 0.5pt #E5E5E6;
}
.invalid-email{
  border-color: red;
}

.email-field:hover{
  border-color: #19191A;
  box-shadow:0 0 5pt 0.5pt #E5E5E6;
  -moz-box-shadow:0 0 5pt 0.5pt #E5E5E6;
  -webkit-box-shadow:0 0 5pt 0.5pt #E5E5E6;
}

.invalid-email-msg{
  color: red;
  margin-top: 0;

}

.submit-btn{
  width: 20rem;
  background-color: #19191A;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
  
}
.submit-btn:hover{
  box-shadow:0 0 10pt 0.5pt #E5E5E6;
  -moz-box-shadow:0 0 10pt 0.5pt #E5E5E6;
  -webkit-box-shadow:0 0 10pt 0.5pt #E5E5E6;
}


@media screen and (max-width:750px){
  .form-section{
    height: fit-content;
    position: absolute;
    width: 100vw;
    max-width: 100%;
    bottom: 0;
    overflow: hidden;
  }
  
  
}