.app{
  display: flex;
  flex-direction: column;
  position: relative;
  
  background: radial-gradient(
      at bottom left,
      rgba(31, 169, 17, 0.8101), 
      rgba(47, 21, 208, 1),
      transparent 100vw
    );
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


@media screen and (max-width:750px){
  .app{
    flex-direction: row;
  }
  .div{
    height: 100vh;
    border: 1px dashed red;
    overflow: hidden;
  }
  
  
}